<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tmpCenConWH.dao.UserMapper">
	<select id="get" resultType="com.tmpCenConWH.entity.User">
		select * from user where username=#{username} and password=#{password}
	</select>
	<insert id="add" parameterType="com.tmpCenConWH.entity.User">
		insert into user
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="username!=null">
				username,
			</if>
			<if test="password!=null">
				password,
			</if>
			<if test="phone!=null">
				phone,
			</if>
			<if test="qq!=null">
				qq,
			</if>
			<if test="weixin!=null">
				weixin,
			</if>
				createTime,
				state,
			<if test="remark!=null">
				remark,
			</if>
		</trim>
		values
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="username!=null">
				#{username},
			</if>
			<if test="password!=null">
				#{password},
			</if>
			<if test="phone!=null">
				#{phone},
			</if>
			<if test="qq!=null">
				#{qq},
			</if>
			<if test="weixin!=null">
				#{weixin},
			</if>
				now(),
				${@com.tmpCenConWH.entity.User@NO_CHECK},
			<if test="remark!=null">
				#{remark},
			</if>
		</trim>
	</insert>
	<select id="getCountByUsername" resultType="java.lang.Integer">
		select count(*) from user where username=#{username}
	</select>
	<select id="queryList" resultType="com.tmpCenConWH.entity.User">
		select * from user where username!='admin'
		<if test="username!=''&amp;username!=null">
			and username like CONCAT('%',#{username},'%')
		</if>
		<if test="startTime!=''&amp;startTime!=null&amp;endTime!=''&amp;endTime!=null">
			and createTime between #{startTime} and #{endTime}
		</if>
		<if test="state!=''&amp;state!=null">
			and state=#{state}
		</if>
		order by createTime
	</select>
</mapper>